<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      {{ content }}
    </div>

    <script src='{{ site.baseurl}}/assets/js/vendors/bootstrap/bootstrap.js'></script>
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
